@import './simplebar.css';
@import './normalize.css';
@import './media-queries.css';

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.btn {
    border: none;
    padding: 14px 0;
    border-radius: 4px;
    width: 100%;
    color: #fff;
    background-color: var(--color-accent);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}


h1,
h2,
h3,
p,
ul {
    /* margin: 0;
    padding: 0; */
    display: none;
}

:root {
    --gutter: 20px;
}

.container {
    /* max-width: 1234px; */
    width: 1244px;
    padding: 0 var(--gutter);
    margin: 0 auto;
}

.content {
    background: linear-gradient(to top right, red, blue);
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--gutter);
}
.products-grid {
    display: grid;
    grid-column: 3 span;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--gutter);
    list-style-type: none;
    margin-top: 100px;
}
.filters {
    position: relative;
}
.filters-price__input {
    position: relative;
    top: 46px;
    width: 100%;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 10px 0 10px 20px;
}
.fixed {
    position: fixed;
    top: var(--gutter);
    left: 0;
}

.height {
    height: 300px;
}

.absolute {
    position: absolute;
    bottom: 0;
    left: 0;
}



.header {
    position: relative;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
    background: linear-gradient(to bottom left, #c77878, rgb(53 144 209));
}
.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav__list {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav__item:not(:last-child) {
    margin-right: 60px;
}

.nav__link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: var(--color-dark);
}

.cart {
    position: relative;
    padding: 40px 20px;
    transition: background-color 0.3s;
}

.cart.active:hover {
    cursor: pointer;
    background-color:rgba(93, 113, 221, 0.1);
}

.cart.active:focus {
    cursor: pointer;
    background-color:rgba(93, 113, 221, 0.1);
}

.header__cart {
    margin-left: 40px;
}

.cart__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.cart__img {
    width: 60px;
}

.cart__quantity {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    margin-top: -25px;
    background: radial-gradient(circle at 77% 31%,aqua,#00008b);
    box-shadow: 5px 10px 20px rgb(0 0 0 / 30%), -5px -10px 20px hsl(0deg 0% 100% / 50%);
    border-radius: 100%;
    padding: 3px;
    height: 22px;
    min-width: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1;
}

.cart-content {
    cursor: default;
    position: absolute;
    right: 0;
    top: 100%;
    width: 490px;
    background-color: #fff;
    box-shadow: opx 4px 4px rgba(135, 135, 135, 0.25);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.cart.active:hover .cart-content {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s, visibility 0.3s;
}

.cart-content__list {
    
    max-height: 330px;
}

.cart-product {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    transition: background-color 0.3s;
}

.cart-product:hover {
    background-color: rgba(77, 77, 77, 0.2);
}

.cart-product__img {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.cart-product__title {
    max-width: 280px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-dark);
}

.cart-product__price {
    font-family: 'Roboto' sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: var(--color-dark);
}

.cart-product__delete {
    margin-left: auto;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    padding: 0;
    background-image: url('../img/trash.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.cart-content__bottom {
    padding: 22px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-content__fullprice {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-dark);
}

.fullprice {
    margin-top: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: var(--color-dark);
}

.cart-content__btn {
    width: 246px;
    text-align: center;
}

.simplebar-track.simplebar-vertical {
    width: 4px;
    background: rgba(77, 77, 77, 0.1);
    border-radius: 5px;
    margin-top: 20px;
    height: calc(100% - 40px);
    right: 5px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
    background: rgba(77, 77, 77, 0.1);
    border-radius: 5px;
    width: 100%;
    opacity: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}






@font-face {
    font-family: "Noto Sans";
    src: url(../fonts/NotoSansRegular.woff2) format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans";
    src: url(../fonts/NotoSansSemiBold.woff2) format('woff2');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/RobotoMedium.woff2) format('woff2');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/RobotoBold.woff2) format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

:root {
    --color-dark: #ded7d7;
    --color-light: #f1e6e6;
    --color-accent: #c342bc;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    overflow-anchor: none;
}

.product {
    width: 285px;
    border-radius: 4px;
    padding: 20px;
    font-size: 14px;
    background: linear-gradient(to top left, blue, green);
    cursor: pointer;
    transition: all 0.5s ease;
    border: 8px #fff solid;
}
.product:hover {
    background: linear-gradient(to top left, rgb(208, 208, 223), rgb(56, 71, 56));
    transition: all 0.5s ease;
    color: #fff;
}

.product__image {
    position: relative;
    overflow: hidden;
    display: block;
    height: 162px;
}

.image-switch {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    display: flex;
}
.image-switch__item {
    flex-grow: 1;
    cursor: pointer;
}

.image-switch__img {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    pointer-events: none;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.image-switch__img img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-switch__item:first-child .image-switch__img {
    opacity: 1;
    z-index: -1;
}

.image-switch__item:hover .image-switch__img {
    opacity: 1;
    z-index: -1;
}

.image-pagination {
    position: absolute;
    z-index: 30;
    left: 0;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-pagination__item {
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    margin: 0 3px;
    background-color: #c4c4c4;
}

.image-pagination__item-active {
    background-color: var(--color-accent);
}

.product__title {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    margin-top: 30px;
}

.product__props {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.product__rating {
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    color: var(--color-accent);
    font-weight: 600;
}

.product__rating svg {
    fill: currentColor;
    margin-right: 8px;
}

.product__testimonials {
    color: var(--color-light);
}

.product__info {
    margin-bottom: 17px;
    font-size: 12px;
    color: var(--color-light);
}

.product__term {
    display: block;
    margin-bottom: 7px;
}

.product__available {
    display: block;
}

.product-price {
    margin-bottom: 17px;
    display: flex;
    align-items: center;
}

.product-price__current {
    margin-right: 12px;
    font-size: 24px;
    color: var(--color-dark);
}
.product-price__old {
    font-size: 12px;
    color: var(--color-light);
    text-decoration: line-through;
}

.product__btn {
    width: 100%;
}

.product__btn:disabled {
    opacity: 0.4;
    pointer-events: none;
}

.product__btn:hover {
    background-color: #6078f1;
    transition: background-color 0.3s ease-in-out;
}


 /* Modal */

 .order-modal {
     padding: 40px;
     width: 592px;
     min-height: 542px;
 }

 .order-modal__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .order-modal__title {
     font-weight: 600;
     font-size: 18px;
     line-height: 20px;
     color: var(--color-accent);
 }

 .order-modal__number {
     font-weight: 400;
     font-size: 12px;
     line-height: 20px;
     text-align: right;
     color: var(--color-light);
 }

 .order-modal__info {
     margin-bottom: 20px;
     border: 1px solid #d9d9d9;
     border-radius: 4px;
     padding: 34px 40px;
     font-weight: 400;
     font-size: 14px;
     line-height: 19px;
     color: var(--color-light);
     margin-top: 10px;
 }
 .order-modal__info-item:not(:last-child) {
     margin-bottom: 15px;
 }

 .order-modal__info span {
     font-weight: 600;
 }
 .order-modal__btn {
     position: relative;
     background-color: transparent;
     border: none;
     cursor: pointer;
     padding: 0;
     font-weight: 400;
     font-size: 14px;
     line-height: 19px;
     color: var(--color-light);
 }

 .order-modal__btn.open::after {
     transform: translateY(-50%) rotate(180deg);
     transition: 0.6s;
 }

 .order-modal__list {
     display: none;
     padding-top: 20px;
     padding-bottom: 20px;
 }

 .order-modal__item:not(:last-child) {
     margin-bottom: 14px;
 }

 .order-modal__btn::after {
     content: "";
     position: absolute;
     right: -10px;
     top: 50%;
     transform: translateY(-50%);
     width: 7px;
     height: 7px;
     background-image: url('../img/arrow-down.svg');
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
 }
 .order {
     padding: 0 40px;
 }

 .order__label {
     margin-bottom: 14px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     font-weight: 500;
     font-size: 14px;
     line-height: 20px;
     color: var(--color-light);
 }

 .order__input {
     padding-left: 14px;
     padding-right: 14px;
     width: 240px;
     height: 45px;
     background: #efefef;
     border-radius: 4px;
     border: none;

 }

 .order__input::placeholder {
     color: #b1b1b1;
 }
 
 .order-modal__product {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .order-product__img {
     max-width: 60px;
     max-height: 60px;
     object-fit: cover;
     margin-right: 10px;
 }

 .order-product__text {
     margin-right: 10px;
 }

 .order-product__title {
     margin-bottom: 5px;
     font-weight: 400;
     font-size: 12px;
     line-height: 20px;
     color: var(--color-dark);
 } 

 .order-product__price {
     font-family: 'Roboto', sans-serif;
     font-weight: 700;
     font-size: 14px;
     line-height: 16px;
     color: var(--color-dark);
 }

 .order-product__delete {
     background-color: transparent;
     border: none;
     cursor: pointer;
     font-weight: 400;
     font-size: 12px;
     line-height: 20px;
     text-align: right;
     color: var(--color-light);
 }




